/* секция герой */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1,87;

  /* display: flex;
  align-items: center;
  text-align: center; */

  color: #ffffff;
}

/* оформление секций */

/* <!-- наши приимущества -- >  */

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,71;
  
  text-transform: uppercase;

  color: var(--color-text-h);
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1,71;
}

.hero-title {
}

.title-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1,17;

  color: var(--color-text-h);
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0,56;

  color: var(--color-text-h);
}

.text-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0,56;
}
